h2 {
  text-align:center;
}

img {
  width: 300px;
  height: 300px;
}

body {
  background-color: #ebd7e4;
  text-align:center;
}

a:link {
  text-decoration:none;
}

a {
  width:300px;
  height:300px;
  margin: 40px;
}

h3 {
  display:inline-block;
  text-align:center;

}

/* .border {
  border: 3px solid white;
  
} */

.recipe-btn {
  height:100px;
  width:150px;
  font-size: 25px;
  
}

.directions {
  display: table;
  margin: 0 auto;
  text-align:left;

}

.directions li{
text-align: left;

}

.longer-directions {
  display: table;
  margin: 0 auto;
  width: 40%;

}

.ingredients {
  display: table;
  margin: 0 auto;
  text-align: left;
  width: 40%;
  
}

.cooking {
  display: table;
  margin: 0 auto;
  width: 40%;
}

.instructions {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.three-recipes {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width:300px;
}

.three-recipes img {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.step-by-step li {
  padding-bottom: 10px;
  text-align: left;
}

.recipe-names{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%
}


