body {
  background-color: #ebd7e4;
  text-align:center;
}

.directions {
  display: table;
  margin: 0 auto;
  text-align:left;

}

.directions li{
text-align: left;

}

.longer-directions {
  display: table;
  margin: 0 auto;
  width: 60%;

}

.ingridients {
  display: table;
  margin: 0 auto;
  text-align: left;
  
}

.cooking {
  display: table;
  margin: 0 auto;
  width: 60%;
}

.instructions {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.three-recipes {
  font-size: 35px;
  display: table;
  margin: 0 auto;
}

.step-by-step li {
  padding-bottom: 10px;
  text-align: left;
}
